<div class="-z-10 absolute w-[100%] h-[600px]">
    <img src="../../public/images/headerPhoto.jpeg" alt="" class="object-cover w-full h-full">
</div>
<div class="h-[250px]"></div>
<div class="flex justify-center w-max m-auto mx-auto -translate-x-60">
    <picture class="h-36 w-36 flex-none mr-16">
        <a href="">

            <img src="../../public/images/LogoMotivo.png"
            alt="logo motivo"
            class="object-cover  rounded-full h-36 bg-gradient-to-r from-orange-100 to-orange-800 hover:scale-105 transition inline-block" 
            >
        </a>
    </picture>
    <div class="my-auto">
        <h2 class="text-4xl">Tú aliado en el proceso <br>de <span class="text-orange-600 ">CAMBIO</span></h2>
        <a href="" class="block w-[100%] text-2xl mt-2 rounded-md bg-[#db8f5d] text-black font-light hover:bg-orange-200 hover:text-orange-600  hover:font-semibold transition-all text-center">Contactanos</a>
    </div>
</div>
<div class="h-[250px]"></div>
