---

---

<form action="" class="flex flex-row">
    <label for="name">Nombre</label>
    <input type="text" name="nombre" class="h-6">
    <label for="surname">Apellido</label>
    <input type="text" name="surname">
    <label for="email">Correo electronico</label>
    <input type="email" name="email">
    <label for="number">Telefono</label>
    <input type="tel" name="number">
    <textarea name="" id="" cols="30" rows="30"></textarea>
    <input type="submit" value="Enviar">

</form>
