<section class="reveal">
  <div class="reveal border-b-2 border-orange-600 mx-40 mb-10">
    <h3 class="text-4xl text-center mb-10">Nuestra Guia</h3>
  </div>
  <div class="reveal lg:flex lg:flex-row justify-center">
    <div
      class="h-[400px] w-[400px] bg-[#181919] shadow-xl mx-8 hover:shadow-2xl hover:scale-110 transition duration-500 inline-block text-center rounded-lg"
    >
      <img
        src="/public/images/enfoque_basado_en_datos.png"
        alt=""
        class="object-cover"
      />
      <h3 class="mb-7 mt-5 text-2xl font-semibold">
        Enfoque basado en los datos
      </h3>
      <p class="font-light">
        <i
          >Tomar decisiones fundamentadas en evidencias verificables y
          objetivas.</i
        >
      </p>
    </div>
    <div
      class="h-[400px] w-[400px] bg-[#181919] shadow-xl mx-8 hover:shadow-2xl hover:scale-110 transition duration-500 inline-block text-center"
    >
      <img src="/public/images/Foco_en_el_ser.png" alt="" />
      <h3 class="my-5 text-2xl font-semibold">Foco en el Ser</h3>
      <p class="font-light">
        <i
          >Colocamos a las personas en el centro de nuestro trabajo. Valoramos y
          respetamos a cada individuo, reconociendo su contribución única y su
          potencial.</i
        >
      </p>
    </div>
    <div
      class="h-[400px] w-[400px] bg-[#181919] shadow-xl mx-8 hover:shadow-2xl hover:scale-110 transition duration-500 inline-block text-center"
    >
      <img src="/public/images/Responsabilidad.png" alt="" />
      <h3 class="my-5 text-2xl font-semibold">Responsabilidad</h3>
      <p class="font-light">
        <i
          >Asumimos con seriedad nuestro compromiso con las personas y el
          entorno en el que operamos. Nos esforzamos por tomar decisiones éticas
          y sostenibles que tengan un impacto positivo a largo plazo.</i
        >
      </p>
    </div>
  </div>
  <div class="reveal lg:flex lg:flex-row justify-center lg:mt-10">
    <div
      class="h-[400px] w-[400px] bg-[#181919] shadow-xl mx-8 hover:shadow-2xl hover:scale-110 transition duration-500 inline-block text-center rounded-lg"
    >
      <img src="/public/images/Respeto.png" alt="" class="object-cover" />
      <h3 class="my-5 text-2xl font-semibold">Respeto y Tolerancia</h3>
      <p class="font-light">
        <i
          >Fomentamos un entorno donde la diversidad de opiniones, creencias y
          culturas es valorada y respetada.</i>
      </p>
    </div>
    <div
      class="h-[400px] w-[400px] bg-[#181919] shadow-xl mx-8 hover:shadow-2xl hover:scale-110 transition duration-500 inline-block text-center rounded-lg"
    >
      <img src="/public/images/formacion.png" alt="" class="object-cover" />
      <h3 class="my-5 text-2xl font-semibold">Formación</h3>
      <p class="font-light">
        <i
          >Reconocemos la importancia de la formación constante como cimiento
          del crecimiento, y la innovación en nuestro equipo y para quienes
          trabajamos.</i>
      </p>
    </div>
    <div
      class="h-[400px] w-[400px] bg-[#181919] shadow-xl mx-8 hover:shadow-2xl hover:scale-110 transition duration-500 inline-block text-center rounded-lg"
    >
      <img
        src="/public/images/cambioPermanente.png"
        alt=""
        class="object-cover"
      />
      <h3 class="my-5 text-2xl font-semibold">Cambio Permanente</h3>
      <p class="font-light">
        <i
          >Nos dedicamos a promover un entorno de constante mejora y
          crecimiento. Buscamos oportunidades para innovar, optimizar procesos y
          adoptar nuevas tecnologías que impulsen el cambio</i>
      </p>
    </div>
  </div>
</section>
