

<section class="reveal md:px-0 lg:px-60 h-[250px] text-center sm:px-0">
  <p class="font-raleway font-light text-[#db8f5d] lg:text-xl text-center md:text-xs">
    Estamos convencidos de que el entendimiento de los aspectos no conscientes
    del individuo y su vínculo con el medio en el que se desarrolla son la
    esencia del cambio. Nuestra misión es fusionar la profundidad de la
    psicología con la visión estratégica del contexto para impulsar procesos de
    cambio que perduren y permitan trazar el camino hacia el alcance de los
    objetivos.
  </p>
</section>

