---
import imgAnalysis from '../../src/assets/images/analisis.png'
import imgIndividual from '../assets/images/1 persona.png'
import imgSetService from '../assets/images/Varias personas.png'
---


<script is:inline src="/public/scrollReveal.js"></script>
<section class="reveal mb-[300px]">
    <div class="items-center py-[30px] border-b-2 border-orange-500 mx-40">
        <h1 class="lg:text-5xl text-center ">Nuestros Servicios</h1>
    </div>
    <div class="reveal lg:flex lg:flex-row items-center justify-center mt-11 md:flex-col">
        <div class="bg-[#181919] shadow-2xl items-center hover:scale-110 transition inline-block lg:h-[400px] w-[400px] mx-12">
            <img src={imgIndividual.src} alt="">
            <h3 class="text-center text-xl font-semibold"><i>INDIVIDUO</i></h3>
            <ul class="list-disc pl-5 ml-4 mb-8">
                <li class="mb-2 font-light"><i>Sesiones Personalizadas</i></li>
                <li class="mb-2 font-light"><i>Autoconocimiento</i></li>
                <li class="mb-2 font-light"><i>Identificación de fortalezas y áreas de mejoras</i></li>
            </ul>
            <button onclick="" class="bg-[#181919] text-orange-500 border-orange-500 border w-[75%] mx-11 mt-5 hover:bg-orange-600 hover:text-slate-100">Mas info</button>
        </div>
        <div class="bg-[#181919] shadow-2xl hover:scale-110 transition inline-block lg:h-[400px] w-[400px] mx-12">
            <img src={imgSetService.src} alt="">
            <h3 class="text-center text-xl font-semibold"><i>CONJUNTO</i></h3>
            <ul class="list-disc pl-5 ml-4">
                <li class="font-light"><i>Gestión del cambio</i></li>
                <li class="font-light"><i>Desarrollo del liderazgo y habilidades ejecutivas</i></li>
                <li class="font-light"><i>Mejora del clima laboral y productividad</i></li>
                <li class="font-light"><i>Resolución de conflictos y fortalecimiento de equipos</i></li>
            </ul>
            <button onclick="" class="bg-[#181919] text-orange-500 border-orange-500 border w-[75%] mx-11 mt-5 hover:bg-orange-600 hover:text-slate-100">Mas info</button>
        </div>
        <div class="bg-[#181919] shadow-2xl  hover:scale-110 transition inline-block lg:h-[400px] w-[400px] mx-12">
            <img src={imgAnalysis.src} alt="" class="mb-2">
            <h3 class="text-center text-xl font-semibold"><i>ANALISIS DE CONTEXTO</i></h3>
            <ul class="list-disc pl-5 ml-4">
                <li class="font-light"><i>Evaluación de riesgos políticos y económicos</i></li>
                <li class="font-light"><i>Adaptación estratégica a tendencias globales</i></li>
                <li class="font-light"><i>Asesoramiento y vinculación en eventos políticos</i></li>
                <li class="font-light"><i>Análisis de factores que influyen en la toma de decisiones</i></li>
            </ul>
            <button onclick="" class="bg-[#181919] text-orange-500 border-orange-500 border w-[75%] mx-11 mt-5 hover:bg-orange-600 hover:text-slate-100">Mas info</button>
        </div>
    </div>


</section>







